.backLink {
    color: white;
    background-color: black;
    text-decoration: none;
}
.editLink {
    color: white;
    background-color: black;
    text-decoration: none;
}

.backLink:hover {
    background-color: black;
    color: goldenrod;
    text-shadow: 1px 1px 1px rgb(114, 86, 15);
    box-shadow: 6px 5px 24px #cb9521;
    text-decoration: none;
}

.editLink:hover {
    background-color: black;
    color: goldenrod;
    text-shadow: 1px 1px 1px rgb(114, 86, 15);
    box-shadow: 6px 5px 24px #cb9521;
    text-decoration: none;
}


.escortId {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 150w;
    height: 100vh;
    border: 5px solid black;
    background-color: black;
    color: whitesmoke;
    margin: 80px;
    
}

.eIdContainer {
    display: flex;   
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.deleteEscortButton:hover {
    cursor: pointer;
    background-color: black;
    color: goldenrod;
    text-shadow: 1px 1px 1px rgb(114, 86, 15);
    box-shadow: 6px 5px 24px #cb9521;
    text-decoration: none;
}