*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 5rem;
    color: black;
    text-decoration: none;
  }

  .NavBar:hover {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 5rem;
    
    text-decoration: none;
  }
 
  
  .NavBar-link {
    margin: 50;
    color: black;
    text-decoration: none;
    
  }
  
  .NavBar-welcome {
    color: black;
    
  }
  .navPages:hover{
    color: goldenrod;
    text-shadow: 1px 1px 1px rgb(114, 86, 15);
    box-shadow: 6px 5px 24px #cb9521;
  }

  .NavBar-link:hover{
    color: goldenrod;
    text-shadow: 1px 1px 1px rgb(114, 86, 15);
    box-shadow: 6px 5px 24px #cb9521;
  }

  .title {
    text-decoration: none;
    font-weight: 900;
    font-size: 70px;
    text-align: center;
    color: black;
  }

  .title:hover {
    text-decoration: none;
    color: goldenrod;
    font-weight: 900;
    font-size: 70px;
    text-align: center;
    text-shadow: 1px 1px 1px goldenrod;  
    box-shadow: 6px 5px 24px #cb9521;
  }

 .navPages {
   text-decoration: none;
   color: black;

 }

 .menu-btn {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80px;
   height: 80px;
   cursor: pointer;
   transition: all .5s ease-in-out;
 }

 .menu-btn-burger {
   width: 50px;
   height: 6px;
   background: black;
   border-radius: 5px;
   box-shadow: 0 2px 5px goldenrod;
   transition: all .5s ease-in-out;
 }

 .menu-btn-burger::before, 
 .menu-btn-burger::after {
   content: '';
   position: absolute;
   width: 50px;
   height: 6px;
   background: black;
   border-radius: 5px;
   box-shadow: 0 2px 5px goldenrod;
   transition: all .5s ease-in-out;
 }

 .menu-btn-burger::before {
   transform: translateY(16px);
 }

 .menu-btn-burger::after {
  transform: translateY(-16px);
}